.slider-component {
  background-color: rgba(11, 67, 119, 0.63);
  height: 80vh;
  overflow: hidden;
}

.slider-background {
  height: 150px;
  background-color: #2e2e2e;
}

.slider-wrapper {
  padding-top: 10px;
  margin-left: 10%;
  margin-right: 10%;
}

.slider-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 3%;
  font-family: "Staatliches", cursive;
  color: rgb(255, 136, 0);
  letter-spacing: 3px;
  margin: 10px;
}

.slider-body {
  height: 350px;
}

.slider-image-item img {
  max-height: 30rem;
  margin: 10px;
  pointer-events: none;
}

.slider-image-item h2 {
  margin: 10px;
  font-family: "Staatliches", cursive;
  color: rgba(255, 136, 0, 0.774);
  letter-spacing: 2px;
  font-size: 35px;
}

.drag-cursor-mask{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}